# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom ignores
Project1/dataset/
Project2/dataset/
Project2/bash/generated_data/inputFile.txt
Project2/bash/generated_data/root_dir
deliverables/
.vscode/
