# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom ignores
Project1/dataset/
Project2/dataset/
Project2/test_dataset/
Project2/logfiles/log_file.*
Project3/datasets/
Project3/test_dataset/
Project3/logfiles/log_file.*
deliverables/
.vscode/
